<% if @trips.any? %>
    <h3>Direct Routes</h3>
    <% @trips.each do |t| %>
        <div class="well app-subheader fl c" style="margin-bottom: 3px;">

          <b><%= link_to(t.name, show_region_path(t.route.path_parts[0])) %></b>
          <table class="plain align-left padcol table" style="margin-bottom: 1px;">
            <tbody>
            <tr>
              <th>Pick up</th>
              <td><%= link_to_map(time_at_name(t.start_at.time, t.start_at.bus_stop.name), t.route.path_parts, t.start_at.bus_stop.location) %></td>
            </tr>
            <tr>
              <th>Drop off</th>
              <td><%= link_to_map(time_at_name(t.stop_at.time, t.stop_at.bus_stop.name), t.route.path_parts, t.stop_at.bus_stop.location) %></td>
            </tr>
            </tbody>
          </table>
        </div>
    <% end %>
<% end %>

<% if @indirect_routes.try(:any?) %>
    <h3>Indirect Routes</h3>
    <% @indirect_routes.each do |idr| %>
        <div class="well app-subheader fl c" style="margin-bottom: 3px;">

          <b><%= link_to(idr.point_a.route.name, show_region_path(idr.point_a.route.path_parts[0])) %></b>
          <table class="plain align-left padcol table" style="margin-bottom: 2px;border-top: 1px solid #000">
            <tbody>
            <tr>
              <th>Pick up</th>
              <td>
                <%= link_to_map(time_at_name(idr.point_a.start_at.time, idr.point_a.start_at.bus_stop.name), idr.point_a.route.path_parts, idr.point_a.start_at.bus_stop.location) %>
              </td>
            </tr>
            <tr>
              <th>Drop off</th>
              <td>
                <%= link_to_map(time_at_name(idr.point_a.stop_at.time, idr.point_a.stop_at.bus_stop.name), idr.point_a.route.path_parts, idr.point_a.stop_at.bus_stop.location) %>
              </td>
            </tr>
            </tbody>
          </table>
          <% idr.sorted_point_bs.each_with_index do |dr, i| %>
              <div style="border: 1px solid #0275AF;border-radius: 4px;" class="mb10">
                <table class="plain align-left padcol table" style="margin-bottom: 2px;border-top: 1px solid #000">
                  <tbody>
                  <tr>
                    <td colspan="2" class="bus-1" style="font-weight: bold;font-size: 14px;text-align: center;">
                      Transfer
                      <div><%= link_to(dr.route.name, show_region_path(dr.route.path_parts[0])) %></div>
                    </td>
                  </tr>
                  <tr>
                    <th>Depart</th>
                    <td>
                      <%= link_to_map(time_at_name(dr.start_at.time, dr.start_at.bus_stop.name), dr.route.path_parts, dr.start_at.bus_stop.location) %>
                    </td>
                  </tr>
                  <tr>
                    <th>Arrive</th>
                    <td>
                      <%= link_to_map(time_at_name(dr.stop_at.time, dr.stop_at.bus_stop.name), dr.route.path_parts, dr.stop_at.bus_stop.location) %>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
          <% end %>
        </div>
    <% end %>
<% end %>
<% if @trips.empty? && @indirect_routes.try(:empty?) %>
    <div class="pad5 well app-subheader" style="font-size: 16px;margin-top: 10px;margin-bottom: 0;">
      <b>No routes found</b>
    </div>
<% end %>