<% if request.flash.any? || @courses.empty? %>
  <div class="pad5 well app-subheader" style="font-size: 16px;margin-top: 10px;margin-bottom: 0;">
    <%= first_flash_message || '<b>Nothing found</b>. Maybe change the time?'.html_safe %>
  </div>
<% else %>
  <h3>Routes</h3>
  <% @courses.each do |course| %>
    <div class="well app-subheader fl c" style="margin-bottom: 3px;">
      <div class="fr"><%= course.time.to_duration %></div>
      <b><%= link_to(course.first_leg.name, show_region_path(course.first_leg.route.path_parts[0])) %></b>
      <table class="plain align-left padcol table" style="margin-bottom: 1px;">
        <tbody>
        <tr>
          <th>Pick up</th>
          <td><%= link_to_map(time_at_name(course.first_leg.start_at.time, course.first_leg.start_at.bus_stop.name), course.first_leg.route.path_parts, course.first_leg.start_at.bus_stop.location) %></td>
        </tr>
        <tr>
          <th>Drop off</th>
          <td><%= link_to_map(time_at_name(course.first_leg.stop_at.time, course.first_leg.stop_at.bus_stop.name), course.first_leg.route.path_parts, course.first_leg.stop_at.bus_stop.location) %></td>
        </tr>
        <% course.legs.each do |leg| %>
          <tr>
            <th class="bus-1">Transfer</th>
            <td class="bus-1" style="font-weight: bold;font-size: 14px;">
              <%= link_to(leg.route.name, show_region_path(leg.route.path_parts[0])) %>
            </td>
          </tr>
          <tr>
            <th>Depart</th>
            <td>
              <%= link_to_map(time_at_name(leg.start_at.time, leg.start_at.bus_stop.name), leg.route.path_parts, leg.start_at.bus_stop.location) %>
            </td>
          </tr>
          <tr>
            <th>Arrive</th>
            <td>
              <%= link_to_map(time_at_name(leg.stop_at.time, leg.stop_at.bus_stop.name), leg.route.path_parts, leg.stop_at.bus_stop.location) %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>