<% if @indirect_routes.any? %>
    <h3>Indirect Routes</h3>
    <% @indirect_routes.each do |idr| %>
        <div class="well app-subheader fl c" style="margin-bottom: 3px;">

          <b><%= idr.point_a.route.name %></b>
          <%#= link_to(t.name, show_region_path(t.route.path_parts[0])) %>
          <% idr.point_bs.each do |dr| %>
              <table class="plain align-left padcol">
                <tbody>
                <tr>
                  <th>Pick up</th>
                  <td>
                    <%= 'TRANSER ' if dr.start_at.transfer? %>
                    <%= link_to_map(time_at_name(dr.start_at.time, dr.start_at.bus_stop.name), dr.route.path_parts, dr.start_at.bus_stop.location) %>
                  </td>
                </tr>
                <tr>
                  <th>Drop off</th>
                  <td>
                    <%= 'TRANSER ' if dr.stop_at.transfer? %>
                    <%= link_to_map(time_at_name(dr.stop_at.time, dr.stop_at.bus_stop.name), dr.route.path_parts, dr.stop_at.bus_stop.location) %>
                  </td>
                </tr>
                </tbody>
              </table>
          <% end %>

        </div>
    <% end %>
<% else %>
    <div class="pad5 well app-subheader" style="font-size: 16px;margin-top: 10px;margin-bottom: 0;">
      <b>No direct routes found</b></div>
<% end %>