<%= hidden_field_tag(:is_desktop, 1) unless mobile_device? %>
<%= content_tag(:div, class: 'pad5 ml5'.send(:<<, mobile_device? ? '' : ' search-map-box'), id: 'search_box') do %>
    <%= form_tag({}, method: :get) do %>
        <div class="field">
          <%= label_tag(:origin, nil, style: 'font-weight: bold;') %>
          <%= select_tag(:origin, options_for_select(@locations, params[:origin] || default_origin)) %>
        </div>
        <div class="field">
          <%= label_tag(:destination, nil, style: 'font-weight: bold;') %>
          <%= select_tag(:destination, options_for_select(@locations, params[:destination] || default_destination)) %>
        </div>
        <div class="field" style="width: 300px;">
          <%= submit_tag('Search', class: 'btn btn-primary', id: 'submit_search', name: nil) %>
          <%= link_to('Reset', search_path, class: 'btn') %>
          &nbsp;
          <%= select_tag(:search_time, options_for_select(times_for_select, params[:search_time] || 'Now'), style: 'width: 100px;', class: 'fr') %>
          <div class="c"></div>
        </div>
    <% end %>
    <div id="direct_routes">
      <% if params[:origin] && params[:destination] %>
          <%= render('direct_routes') %>
      <% end %>
    </div>
<% end %>
<div id="map_canvas" style="width:100%; height:100%">Try wait ...</div>
<%= javascript_tag("var Locations = #{all_stops}") %>
<%= javascript_include_tag('search/search') %>