<%= content_for(:title) { 'Bus Schedules | Maui Bus Routes' } %>
<div class="well app-subheader mt10">
  <h3 class="fl" style="margin: 0;"><span class="hidden-phone">Bus</span> Schedule</h3>
  <ul class="unstyled inline fl">
    <% @regions.each do |region| %>
        <li><%= link_to(region.class, "##{region.class.to_s.downcase}") %></li>
    <% end %>
  </ul>
  <div class="c"></div>
</div>

<div style="padding-bottom: 30px;">
  <% @regions.each do |region| %>
      <a name="<%= region.class.to_s.downcase %>"></a>

      <% region.routes.each do |route| %>
          <div class="route-wrap">
            <div class="clearfix">
              <h4 class="fl">
                <%= link_to(route.name, show_region_path(region.class.to_s.downcase), style: 'float:none') %>
              </h4>
              <%= link_to('<span class="icon icon-globe icon-white"></span>Map'.html_safe,
                          show_bus_map_path(region.class.to_s.downcase, route.class_name),
                          class: 'btn btn-success list fr mt5 mr10'
                  ) %>
              <%= link_to_void('<span class="icon icon-time icon-white"></span>Times',
                               class: 'btn btn-info list time-list fr mt5 mr10',
                               rel: route.full_class_name
                  ) %>
              <%= link_to_void('<span class="icon icon-road icon-white"></span>Upcoming',
                               class: 'btn btn-info hidden-desktop list next-stop-list fr mt5 mr10',
                               rel: route.full_class_name
                  ) %>
            </div>
            <div id="<%= route.full_class_name %>" class="hidden-tablet hidden-phone a-route">
              <h5>Upcoming Stops</h5>
              <ul class="mba-list">
                <% if route.next_stops.any? %>
                    <% route.next_stops.each do |nxt| %>
                        <li><%= wrap_next_stop(nxt) %></li>
                    <% end %>
                <% else %>
                    <li>None</li>
                <% end %>
              </ul>
            </div>
            <%= schedule_for(route) %>
          </div>
      <% end %>
  <% end %>
</div>
<%= render('modal') %>
<%= javascript_include_tag(:region_manifest) %>