<h3>Routes for <%= params[:name].titleize %></h3>
<%= render('modal') %>
<div class="regions">
  <ul class="nav nav-list">
    <% @region.routes.each do |route| %>
        <li>
          <div class="well">
            <h4 style="float:left;padding-right: 10px;"><%= route.name %></h4>

            <div style="margin-top: 5px;margin-bottom: -5px;">
              <%= link_to_void('<span class="icon icon-time icon-white"></span>Times', class: 'btn btn-info list time-list', rel: route.class_name) %>
              <%= link_to('<span class="icon icon-globe icon-white"></span>Map'.html_safe, show_bus_map_path(params[:name], route.class_name), class: 'btn btn-success list') %>
            </div>
            <div>
              <h5>Upcoming Stops</h5>
              <ul class="mba-list">
                <% if route.next_stops.any? %>
                    <% route.next_stops.each do |nxt| %>
                        <li><%= wrap_next_stop(nxt) %></li>
                    <% end %>
                <% else %>
                    <li>None</li>
                <% end %>
              </ul>
            </div>
            <div style="padding-bottom: 10px;">
              <h5>Bus Stops</h5>
              <%= content_tag(:div, id: route.class_name, style: 'position:relative;') do %>
                  <%= stops_as_badges(route) %>
              <% end %>
              <%= schedule_for(route, style: 'display:none') %>
            </div>
          </div>
        </li>
    <% end %>
  </ul>
</div>
<!-- Placed at the end of the document so the pages load faster -->
<%= javascript_include_tag('region_manifest') %>