<%= content_for(:title) { "#{params[:name].titleize} | Maui Bus Routes" } %>
<h3 class="well app-subheader">Routes for <%= params[:name].titleize %></h3>
<%= render('modal') %>
<div class="regions">
  <% @region.routes.each do |route| %>
      <a name="<%= route.full_class_name %>"></a>
      <div class="route-wrap">
        <h4 class="fl mt5" style="padding-right: 10px;"><%= route.name %></h4>

        <div style="margin-top: 5px;margin-bottom: -5px;">
          <%= link_to_void('<span class="icon icon-time icon-white"></span>Times', class: 'btn btn-info list time-list', rel: route.full_class_name) %>
          <%= link_to('<span class="icon icon-globe icon-white"></span>Map'.html_safe, show_bus_map_path(params[:name], route.class_name), class: 'btn btn-success list') %>
        </div>
        <%= render(partial: 'upcoming_stops', locals: {route: route}) %>
        <div style="padding-bottom: 10px;">
          <%= schedule_for(route) %>
        </div>
      </div>
  <% end %>
</div>
<%= javascript_include_tag(:region_manifest) %>