<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">

  <title>Maui Bus Routes - <%= "#{params[:region_name]} #{params[:name]}" %></title>
  <style type="text/css">
      html {
          height: 100%
      }

      body {
          height: 100%;
          margin: 0;
          padding: 0
      }

      #map_canvas {
          height: 100%
      }
  </style>
  <%= stylesheet_link_tag('application', media: 'all') %>

  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbernP0NZYEAk0kDX-Yt1z0_jJj0CkMH0&sensor=false&libraries=geometry">
  </script>
  <%= javascript_include_tag(:class_extensions) %>
  <%= javascript_include_tag(:maui) %>
  <%= javascript_include_tag(:base_map) %>
  <%= javascript_include_tag(:base_marker) %>
</head>
<body>
<div class="navbar navbar-fluid-top" style="margin-bottom: 0;">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to('Back', show_region_path(params[:region_name]), class: 'btn btn-small back-button') if params[:region_name] %>
      <h1><a class="brand" href="/">Maui Bus Routes</a></h1>

      <div class="container-fluid nav-collapse">
        <ul class="nav">
          <li><%= link_to 'Schedule', schedule_path %></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>
<div id="map_canvas" style="width:100%; height:100%">
  <%= content_for?(:map) ? yield(:map) : 'Loading ...' %>
</div>
<%= yield %>
<%= render('layouts/footer') %>
</body>
</html>